<div>
    <form class="example-form" (ngSubmit)="guardar()" [formGroup]="miFormulario">

        <div class="form-group form">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="name" matInput formControlName="name" placeholder="Ingrese el nombre">
                <mat-error *ngIf="miFormulario.controls['name'].errors?.['required']">El nombre es requerido</mat-error>
                <mat-error *ngIf="miFormulario.controls['name'].hasError('minlength')">Nombre minimo 3
                    caracteres</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group form">
            <mat-form-field class="example-full-width">
                <mat-label>Job</mat-label>
                <input type="job" matInput formControlName="job" placeholder="Ingrese el trabajo">
                <mat-error *ngIf="miFormulario.controls['job'].errors?.['required']">El trabajo es requerido</mat-error>
                <mat-error *ngIf="miFormulario.controls['job'].hasError('minlength')">Trabajo minimo 3
                    caracteres</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row wrap" class="text-center">
            <button mat-raised-button type="submit" class="demo-button">
                Registrar
            </button>
            <button mat-raised-button (click)="cancelar()" class="demo-button">
                Volver
            </button>
        </div>
    </form>
</div>